@import "_mixins";
@import "_buttons";

.ScreenLayoutFullWidth {
    
    body { margin: 0; }
	canvas { width: 100%; height: 100% }
			
	padding-left: 0px;
	padding-right: 0px;
}


.form-row {
    width: 50%;
    float: left;
}

