<script id="MainPage-template" type="text/x-jquery-tmpl">
    <div id="mainPage_PageContents" class="ScreenLayoutFullWidth">
    
        <div class="form-row">
            <label for="searchField">Search Twitter For:</label>
            
            <input id="searchField" type="text" name="searchField"/>

            <input id="twizButton" name="twizButton" value="Start Cherping" type="button"/>

            <!--<span id="twizButton" class="button blueflat">Twiz</span>///-->
        </div>

    </div>
</script>