<script id="MainPage-template" type="text/x-jquery-tmpl">
    <div id="mainPage_PageContents" class="ScreenLayoutFullWidth">
    
        <div class="form-row">
            <label for="searchField">Get weather forecast for this cityID:</label>
            
            <input id="searchField" type="text" name="searchField"/>

            <input id="twizButton" name="twizButton" value="Whats the weather like?" type="button"/>
            
            <!--<a href="#" id="twizButton" class="btn blue">Whats the weather like?</a>//-->
            
            <!--<span id="twizButton" class="button blueflat">Twiz</span>///-->
        </div>

    </div>
</script>