<script id="MainPage-template" type="text/x-jquery-tmpl">
    <div id="mainPage_PageContents" class="ScreenLayoutFullWidth">
    
        <div class="form-row">
            <label for="searchField">Get weather forecast for this cityID:</label>
            
            <input id="searchField" type="text" name="searchField"/>

            <input id="twizButton" name="twizButton" value="Whats the weather like?" type="button"/>
            
            <!--<a href="#" id="twizButton" class="btn blue">Whats the weather like?</a>//-->
            
            <!--<span id="twizButton" class="button blueflat">Twiz</span>///-->
        </div>

        <div class="form-row">
            <label for="latField">Getting weather forecast for this Latitude and Longitude:</label>
            
            <input id="latField" type="text" name="latField"/>
            
            <input id="longField" type="text" name="longField"/>

            <input id="latlongButton" name="latlongButton" value="Whats the weather like?" type="button"/>
            
        </div>
        
        <div class="form-row">
            <label for="cityField">Name of City:</label>
            <input id="cityField" type="text" name="cityField"/>
        </div>        
        
        <div id="weatherView" class="WeatherViewLayout seeThrough">
        </div>
        
        <!--
        <div id="latitudeDiv" style="z-index:5;position:fixed; top: 50px; left: 15px; width:230px; height: 50px; border:none;border-color:black;background-color:transparent; background-size:cover" >
            <font color="#FFFFFF"><span id="latitudeLabel">Latitude</span></font>
        </div>

        <div id="longitudeDiv" style="z-index:5;position:fixed; top: 50px; left: 100px; width:230px; height: 50px; border:none;border-color:black;background-color:transparent; background-size:cover" >
            <font color="#FFFFFF"><span id="longitudeLabel">Longitude</span></font>
        </div>
        //-->


    </div>
</script>